#!/usr/bin/make -f
#export DH_VERBOSE = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_autoreconf:

override_dh_auto_test:

override_dh_auto_configure:

override_dh_auto_clean:

override_dh_auto_build:

override_dh_auto_install:

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM) -- $(CURDIR)/dkms.conf
